CHALLENGE_PROVIDER=http_json
CHALLENGE_API_BASE_URL=https://ctf.example.com/api
CHALLENGE_API_PATH_TEMPLATE=/challenges/{challenge_id}
CHALLENGE_API_TOKEN=replace-me
CHALLENGE_API_AUTH_SCHEME=Bearer
CHALLENGE_API_TIMEOUT=20

# Used when CHALLENGE_PROVIDER=local_json
CHALLENGE_LOCAL_JSON_DIR=./challenges
